<!DOCTYPE html>
<html lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RST marketing | Pautas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <link rel="shortcut icon" href="./img/logo.jpeg" type="image/x-icon">
</head>

<body class="w-100 h-100 d-flex justify-content-center flex-wrap align-items-center">
    <div class="w-100" style="z-index: 1000;">
        <div class="w-100 mb-2">
            <div class="row">
                <div class="col"></div>
                <div class="col-md-6 col-10 d-flex justify-content-center p-1 border align-items-center" style="border-radius: 10px;">
                    <div>
                        <h6 class="h6">Tiempo entre pautas:</h6>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="d-flex flex-column text-center">
                                <button onclick="modTiempo('mas')" class="controlSonido btn btnAzul d-flex align-items-center justify-content-center"><i class="fas fa-sort-up"></i></button>
                                <h1 id="mostrarTiempo" class="h3 m-0">Init Aut</h1>
                                <button onclick="modTiempo('menos')" class="controlSonido btn btnAzul d-flex align-items-center justify-content-center"><i class="fas fa-sort-down"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="w-100">
            <div class="row">
                <div class="col"></div>
                <div class="col-md-6 col-10 d-flex justify-content-center p-1 border align-items-center" style="border-radius: 10px;">
                    <form enctype="multipart/form-data" method="POST" action="/upload/pauta" class="form-group files">
                        <label for="filePauta m-0">Subir Pauta Publicitaria</label>
                        <input id="inputFilePauta" type="file" accept="audio/*" class="mt-3 w-100" placeholder="Pauta Pub" name="filePauta" multiple="false">
                        <button id="btnUplaod" type="submit" class="btn btnAzul btn-block mt-2">Cargar</button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="w-100 mt-2">
            <div class="row">
                <div class="col"></div>
                <div class="col-10 col-md-6 p-0" style="height: 200px; overflow: scroll;">
                    <div class="w-100">
                        <div class="w-100 d-flex justify-content-around align-items-center border p-2 shadow-sm mb-2" style="border-radius: 10px;">
                            <div class="btn btnAzulClaro d-flex justify-content-center align-items-center" style="width:50px; height: 50px; border-radius: 10px;">
                                <img src="./img/megaphone.png" class="img-fluid">
                            </div>
                            <div style="width: 200px; font-size: .7em;" class="text-center">
                                <p class="m-0">Reproduccion Automatica</p>
                            </div>
                            <div class="d-flex">
                                <button class="btn" onclick="reproductorAll()"><i style="color: var(--AZUL);" class="fas fa-play fa-2x"></i></button>
                            </div>
                        </div>
                    </div>
                    <div id="contPautas" class="w-100 text-center">
                        <p>No hay pautas publicitarias en el servidor</p>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center position-fixed" style="top: 0; left: 0;">
        <div style="width: 10rem;">
            <img src="./img/logo.jpeg" alt="logo rst marketing" class="img-fluid">
        </div>
    </div>
    <div class="position-fixed" style="right: 10px; top: 10px;">
        <button onclick="cerrarSesion()" class="btn btnAzulClaro d-flex justify-content-center align-items-center"
            style="width: 50px; height: 50px; border-radius: 10px;">
            <img src="./img/logout.png" alt="boton spotify" class="img-fluid">
        </button>
    </div>
    <div class="position-fixed w-100 " style="bottom: 0; left: 0;">
        <audio src="" id="reproductor" class="d-none"></audio>
        <iframe style="position: absolute; bottom: 0; left: 0; overflow-y: scroll;" src="https://open.spotify.com/embed/playlist/37i9dQZF1DWWU6Rfto8Ppm" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="./js/controller/alert.login.js"></script>
    <script src="./js/controller/logout.controller.js"></script>
    <script src="./js/controller/upload.controller.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>