*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --AZUL: #164053;
    --AZUL-CLARO: #C3E9FA;
}

body{
    background: #FAFAFA;
}

.btnAzul{
    background: var(--AZUL);
    color: white;
    border: none;
}

.btnAzulClaro{
    background: var(--AZUL-CLARO);
    color: white;
    border: none;
}